<div class="bg-dark"></div>
<div class="home-information">
	<h1 class="slogan">Any swipe can change your life.</h1>
	<%= link_to "auth/facebook", class: "btn btn-social btn-lg btn-facebook" do %><i class="fa fa-facebook"></i> Sign in with Facebook <% end %>
	<br /><br />
</div>

<div id="tinderslide">
    <ul>
        <li class="pane1"><div class="img"></div><div>Miami Beach</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane2"><div class="img"></div><div>San Francisco</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane3"><div class="img"></div><div>Chicago</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane4"><div class="img"></div><div>New York</div><div class="like"></div><div class="dislike"></div></li>
        <li class="pane5"><div class="img"></div><div>Beach</div><div class="like"></div><div class="dislike"></div></li>
    </ul>
</div>