<div class="bg-dark"></div>
<div class="home-information">
	<h1 class="slogan">Any swipe can change your life.</h1>
	<%= link_to "auth/facebook", class: "btn btn-social btn-lg btn-facebook" do %><i class="fa fa-facebook"></i> Sign in with Facebook <% end %>

	<br /><br />
	<div class="fb-like"
		data-share="true"
		data-width="450"
		data-show-faces="true">
	</div>
</div>

<script type="text/javascript">
	//SLIDER BACKGROUND
	jQuery(function($){

		$.supersized({

			// Functionality
			slide_interval          :   4000,		// Length between transitions
			transition              :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
			transition_speed		:	700,		// Speed of transition

			// Components							
			slide_links				:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
			slides 					:  	[			// Slideshow Images
				{image : 'assets/bg.jpg'},
				{image : 'assets/bg2.jpg'},
				{image : 'assets/bg3.jpg'}
			]
					
		});
	});


	//facebook sdk
	window.fbAsyncInit = function() {
	FB.init({
	  appId      : '358473871168143',
	  xfbml      : true,
	  version    : 'v2.8'
	});
	};
	
	(function(d, s, id){
	 var js, fjs = d.getElementsByTagName(s)[0];
	 if (d.getElementById(id)) {return;}
	 js = d.createElement(s); js.id = id;
	 js.src = "//connect.facebook.net/en_US/sdk.js";
	 fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

</script>